<div class="container" id="main">
  <div class="row">
    <div class="col-md-4 col-sm-6">
    </div>
    <div class="col-md-4 col-sm-6">
      <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
      </div>
      <nav class="white" role="navigation" style="height:115px;">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo center"><%= image_tag 'logo.png', alt: 'KnowGovtData' %></a>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Blood Banks</a>
          </div>
        </div>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">
          <select class="browser-default" id="states" style="width: 100%;"></select>
          <select class="browser-default" id="districts" style="width: 100%; margin-top: 5px;"></select>
        </div>
        <div class="panel-body">
          <ul class="collection" id="blood-banks">
          </ul>
        </div>
        <input type='hidden' id="page" value="0" />
        <a class="btn btn-block btn-success" id="more" >More</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
    </div>
  </div><!--/row-->

  <hr>
</div><!--/main-->
<script type="text/javascript">
    var states = ["Andaman And Nicobar Islands", "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chandigarh", "Chhattisgarh", "Dadra and Nagar Haveli", "Daman and Diu", "Delhi", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka", "Kerala", "Lakshadweep", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Puducherry", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal"]
    var	districts = <%= raw ({"Maharashtra"=>["AHMEDNAGAR", "AKOLA", "AMRAVATI", "AURANGABAD", "BEED", "BHANDARA", "BULDHANA", "CHANDRAPUR", "DHULE", "GADCHIROLI", "GONDIA", "HINGOLI", "JALGAON", "JALNA", "KOLHAPUR", "LATUR", "MUMBAI", "NAGPUR", "NANDED", "NANDURBAR", "NASHIK", "OSMANABAD", "PARBHANI", "PUNE", "RAIGAD", "RATNAGIRI", "SANGLI", "SATARA", "SINDHUDURG", "SOLAPUR", "THANE", "WARDHA", "WASHIM", "YAVATMAL"], "Manipur"=>["IMPHAL EAST", "IMPHAL WEST", "THOUBAL"], "Meghalaya"=>["EAST KHASI HILLS", "WEST GARO HILLS", "WEST JAINTIA HILLS"], "Mizoram"=>["AIZAWL", "CHAMPHAI", "KOLASIB", "LAWNGTLAI", "LUNGLEI", "MAMIT", "SAIHA", "SERCHHIP"], "Nagaland"=>["DIMAPUR", "KOHIMA", "MOKOKCHUNG", "MON", "PHEK", "TUENSANG", "WOKHA", "ZUNHEBOTO"], "Odisha"=>["ANGUL", "BALANGIR", "Balasore", "BARGARH", "BHADRAK", "BOUDH", "CUTTACK", "DEOGARH", "DHENKANAL", "GAJAPATI", "GANJAM", "Jagatsinghpur", "JAJPUR", "JHARSUGUDA", "KALAHANDI", "KANDHAMAL", "KENDRAPARA", "KENDUJHAR", "KHORDHA", "KORAPUT", "MALKANGIRI", "MAYURBHANJ", "NABARANGPUR", "NAYAGARH", "NUAPADA", "PURI", "RAYAGADA", "SAMBALPUR", "SONEPUR", "Sundergarh"], "Puducherry"=>["Puducherry"], "Punjab"=>["AMRITSAR", "BARNALA", "BATHINDA", "FARIDKOT", "FATEHGARH SAHIB", "FAZILKA", "Ferozpur", "GURDASPUR", "HOSHIARPUR", "JALANDHAR", "KAPURTHALA", "LUDHIANA", "MANSA", "MOGA", "NAWANSHAHR", "PATHANKOT", "PATIALA", "RUPNAGAR", "S.A.S Nagar (Mohali)", "SANGRUR", "SRI MUKTSAR SAHIB", "Tarn Taran"], "Rajasthan"=>["AJMER", "ALWAR", "BANSWARA", "BARAN", "BARMER", "BHARATPUR", "BHILWARA", "BIKANER", "BUNDI", "CHITTORGARH", "CHURU", "DAUSA", "DHOLPUR", "DUNGARPUR", "HANUMANGARH", "JAIPUR", "JAISALMER", "JALORE", "JHALAWAR", "JHUNJHUNU", "JODHPUR", "KARAULI", "KOTA", "NAGAUR", "PALI", "PRATAPGARH", "RAJSAMAND", "SAWAI MADHOPUR", "SIKAR", "SIROHI", "SRIGANGANAGAR", "TONK", "UDAIPUR"], "Sikkim"=>["EAST Sikkim", "SOUTH Sikkim"], "Tamil Nadu"=>["CHENNAI", "COIMBATORE", "CUDDALORE", "DHARMAPURI", "DINDIGUL", "ERODE", "KANCHIPURAM", "Kanyakumari", "KARUR", "KRISHNAGIRI", "MADURAI", "NAGAPATTINAM", "NAMAKKAL", "PERAMBALUR", "PUDUKKOTTAI", "RAMANATHAPURAM", "SALEM", "SIVAGANGA", "THANJAVUR", "THE NILGIRIS", "THENI", "THIRUVALLUR", "THIRUVARUR", "Thoothukudi (TUTICORIN)", "TIRUCHIRAPPALLI", "TIRUNELVELI", "TIRUPPUR", "TIRUVANNAMALAI", "VELLORE", "VILLUPURAM", "VIRUDHUNAGAR"], "Haryana"=>["HISAR", "JHAJJAR", "JIND", "KAITHAL", "KARNAL", "KURUKSHETRA", "MAHENDRAGARH", "MEWAT", "PALWAL", "PANCHKULA", "PANIPAT", "REWARI", "ROHTAK", "SIRSA", "SONIPAT", "YAMUNANAGAR", "AMBALA", "BHIWANI", "FARIDABAD", "FATEHABAD", "GURGAON"], "Himachal Pradesh"=>["CHAMBA", "HAMIRPUR", "KANGRA", "KINNAUR", "KULLU", "MANDI", "SHIMLA", "SIRMAUR", "SOLAN", "UNA"], "Jammu and Kashmir"=>["BARAMULLA", "Budgam", "DODA", "GANDERBAL", "JAMMU", "KARGIL", "KATHUA", "KISHTWAR", "KULGAM", "KUPWARA", "LEH LADAKH", "POONCH", "PULWAMA", "RAJOURI", "RAMBAN", "SAMBA", "SHOPIAN", "SRINAGAR", "UDHAMPUR"], "Jharkhand"=>["BOKARO", "DEOGHAR", "DHANBAD", "DUMKA", "EAST SINGHBHUM", "GARHWA", "GIRIDIH", "GUMLA", "HAZARIBAGH", "KODERMA", "LATEHAR", "LOHARDAGA", "PAKUR", "PALAMU", "RAMGARH", "RANCHI", "SAHEBGANJ", "SIMDEGA", "WEST SINGHBHUM"], "Karnataka"=>["BAGALKOT", "Belgaum", "BELLARY", "BENGALURU RURAL", "BENGALURU URBAN", "BIDAR", "Bijapur", "CHAMARAJANAGAR", "Chikkaballapur", "CHIKKAMAGALURU", "CHITRADURGA", "DAKSHINA KANNADA", "DAVANGERE", "DHARWAD", "GADAG", "HASSAN", "HAVERI", "KALABURAGI", "KODAGU", "KOLAR", "KOPPAL", "MANDYA", "Mysore", "RAICHUR", "RAMANAGARA", "SHIVAMOGGA", "TUMAKURU", "UDUPI", "UTTARA KANNADA", "YADGIR"], "Kerala"=>["ALAPPUZHA", "ERNAKULAM", "IDUKKI", "KANNUR", "KASARAGOD", "KOLLAM", "KOTTAYAM", "KOZHIKODE", "MALAPPURAM", "PALAKKAD", "PATHANAMTHITTA", "THIRUVANANTHAPURAM", "THRISSUR", "WAYANAD"], "Lakshadweep"=>[], "Madhya Pradesh"=>["ASHOKNAGAR", "BALAGHAT", "BARWANI", "BETUL", "BHIND", "BHOPAL", "BURHANPUR", "CHHATARPUR", "CHHINDWARA", "DAMOH", "DATIA", "DEWAS", "DHAR", "DINDORI", "EAST NIMAR", "GUNA", "GWALIOR", "HARDA", "HOSHANGABAD", "INDORE", "JABALPUR", "JHABUA", "KATNI", "KHARGONE", "MANDLA", "MANDSAUR", "MORENA", "NARSINGHPUR", "NEEMUCH", "PANNA", "RAISEN", "RAJGARH", "RATLAM", "REWA", "SAGAR", "SATNA", "SEHORE", "SEONI", "SHAHDOL", "SHAJAPUR", "SHEOPUR", "SHIVPURI", "SIDHI", "SINGRAULI", "TIKAMGARH", "UJJAIN", "UMARIA", "VIDISHA"], "Telangana"=>["ADILABAD", "HYDERABAD", "KARIMNAGAR", "KHAMMAM", "MAHBUBNAGAR", "MEDAK", "NALGONDA", "NIZAMABAD", "RANGAREDDY", "WARANGAL"], "Tripura"=>["Gomati", "North Tripura", "Unakoti", "West Tripura"], "Uttar Pradesh"=>["AGRA", "ALIGARH", "ALLAHABAD", "AMBEDKAR NAGAR", "AMROHA", "AURAIYA", "AZAMGARH", "BAGHPAT", "BAHRAICH", "BALLIA", "BALRAMPUR", "BANDA", "BARABANKI", "BAREILLY", "BASTI", "BIJNOR", "BUDAUN", "BULANDSHAHR", "CHANDAULI", "CHITRAKOOT", "DEORIA", "ETAH", "ETAWAH", "FAIZABAD", "FARRUKHABAD", "FATEHPUR", "FIROZABAD", "GAUTAM BUDDHA NAGAR", "GHAZIABAD", "GHAZIPUR", "GONDA", "GORAKHPUR", "HAMIRPUR", "HAPUR", "HARDOI", "HATHRAS", "JALAUN", "JAUNPUR", "JHANSI", "KANNAUJ", "KANPUR DEHAT", "KANPUR NAGAR", "Kasganj", "KAUSHAMBI", "Kushinagar", "Lakhimpur Kheri", "LALITPUR", "LUCKNOW", "MAHARAJGANJ", "MAHOBA", "MAINPURI", "MATHURA", "MAU", "MEERUT", "MIRZAPUR", "MORADABAD", "MUZAFFARNAGAR", "PILIBHIT", "PRATAPGARH", "RAEBARELI", "RAMPUR", "SAHARANPUR", "SAMBHAL", "SANT KABIR NAGAR", "Sant Ravidas Nagar (BHADOHI)", "SHAHJAHANPUR", "SHAMLI", "SHRAVASTI", "SIDDHARTH NAGAR", "SITAPUR", "SONBHADRA", "SULTANPUR", "UNNAO", "VARANASI"], "Uttarakhand"=>["ALMORA", "CHAMOLI", "DEHRADUN", "HARIDWAR", "NAINITAL", "PAURI GARHWAL", "PITHORAGARH", "UDHAM SINGH NAGAR", "UTTAR KASHI"], "West Bengal"=>["24 PARAGANAS NORTH", "24 PARAGANAS SOUTH", "BANKURA", "BARDHAMAN", "BIRBHUM", "Cooch Behar", "Dakshin Dinajpur", "DARJEELING", "HOOGHLY", "HOWRAH", "JALPAIGURI", "KOLKATA", "MALDA", "MEDINIPUR EAST", "MEDINIPUR WEST", "MURSHIDABAD", "NADIA", "PURULIA", "Uttar Dinajpur"], "Andaman And Nicobar Islands"=>["SOUTH ANDAMAN"], "Andhra Pradesh"=>["ANANTAPUR", "CHITTOOR", "EAST GODAVARI", "GUNTUR", "KRISHNA", "KURNOOL", "PRAKASAM", "SPSR NELLORE", "SRIKAKULAM", "VISAKHAPATNAM", "VIZIANAGARAM", "WEST GODAVARI", "Y.S.R. (Kadapa)"], "Arunachal Pradesh"=>["EAST SIANG", "LOHIT", "LOWER SUBANSIRI", "PAPUM PARE", "TAWANG", "UPPER SIANG", "UPPER SUBANSIRI", "WEST SIANG"], "Assam"=>["BONGAIGAON", "CACHAR", "CHIRANG", "DARRANG", "DHEMAJI", "DHUBRI", "DIBRUGARH", "DIMA HASAO", "GOALPARA", "GOLAGHAT", "HAILAKANDI", "JORHAT", "KAMRUP", "KAMRUP METRO", "KARBI ANGLONG", "KARIMGANJ", "KOKRAJHAR", "LAKHIMPUR", "Morigaon", "NAGAON", "NALBARI", "SIVASAGAR", "SONITPUR", "TINSUKIA"], "Bihar"=>["BEGUSARAI", "BHAGALPUR", "BHOJPUR", "BUXAR", "DARBHANGA", "EAST CHAMPARAN", "GAYA", "GOPALGANJ", "JAMUI", "JEHANABAD", "KAIMUR (BHABUA)", "KATIHAR", "KHAGARIA", "KISHANGANJ", "LAKHISARAI", "MADHEPURA", "MADHUBANI", "MUZAFFARPUR", "NALANDA", "NAWADA", "PATNA", "PURNIA", "ROHTAS", "SAHARSA", "SAMASTIPUR", "SARAN", "SHEIKHPURA", "SITAMARHI", "SIWAN", "VAISHALI", "WEST CHAMPARAN"], "Chandigarh"=>["CHANDIGARH"], "Chhattisgarh"=>["BASTAR", "BEMETARA", "BIJAPUR", "BILASPUR", "DANTEWADA", "DHAMTARI", "DURG", "JANJGIR-CHAMPA", "JASHPUR", "KABIRDHAM (Kawardha)", "KANKER", "KORBA", "KOREA", "MUNGELI", "NARAYANPUR", "RAIGARH", "RAIPUR", "RAJNANDGAON", "SUKMA", "SURAJPUR", "SURGUJA"], "Dadra and Nagar Haveli"=>[], "Daman and Diu"=>["DIU"], "Delhi"=>["CENTRAL DELHI", "EAST DELHI", "NEW DELHI", "NORTH DELHI", "NORTH EAST DELHI", "NORTH WEST DELHI", "SHAHDARA", "SOUTH DELHI", "SOUTH EAST DELHI", "SOUTH WEST DELHI", "WEST DELHI"], "Goa"=>["NORTH GOA", "SOUTH GOA"], "Gujarat"=>["AHMEDABAD", "AMRELI", "ANAND", "Banaskantha", "BHARUCH", "BHAVNAGAR", "Dahod", "DANG", "GANDHINAGAR", "JAMNAGAR", "JUNAGADH", "KACHCHH", "KHEDA", "Mehsana", "NAVSARI", "Panchmahal ", "PATAN", "PORBANDAR", "RAJKOT", "Sabarkantha", "SURAT", "SURENDRANAGAR", "TAPI", "VADODARA", "VALSAD"]}).to_json %>;

    $('#states').append($("<option></option>").attr("value",'All').text('All States'));
    $('#districts').append($("<option></option>").attr("value",'All').text('All Districts'));
    $.each(states, function(index, val) {
        $('#states')
                .append($("<option></option>")
                        .attr("value",val)
                        .text(val));
    });
    function updateDistricts(state){
        $('#districts').find('option').remove();
        $('#districts').append($("<option></option>").attr("value",'All').text('All Districts'));
        $.each(districts, function(key, val) {
            if(state == key){
                $.each(val, function(index, dist) {
                    $('#districts')
                            .append($("<option></option>")
                                    .attr("value",dist)
                                    .text(dist));
                });
            }
        });
    }

    function getResult(state, district, offset){
        if(state != 'All' && district != 'All'){
            var api_url = "https://api.data.gov.in/resource/fced6df9-a360-4e08-8ca0-f283fc74ce15?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[_blood_bank_name]=asc&filters[_state]="+state+"&filters[_district]="+district+"&offset="+offset;
        }else if(state != 'All' && district == 'All'){
            var api_url = "https://api.data.gov.in/resource/fced6df9-a360-4e08-8ca0-f283fc74ce15?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[_blood_bank_name]=asc&filters[_state]="+state+"&offset="+offset;
        }else{
            var api_url = "https://api.data.gov.in/resource/fced6df9-a360-4e08-8ca0-f283fc74ce15?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[_blood_bank_name]=asc&offset="+offset;
        }
        if(offset == 0){
            $("#blood-banks li").remove();
        }
        $.getJSON(api_url, function( data ) {
            var items = $();
            $.each( data['records'], function( key, val ) {
                var	elements= "<i class='large material-icons circle red'>add_location</i>";
                if(val['_blood_bank_name'] != "NA" && val['_blood_bank_name'] != ""){
                    elements += "<span class='title'>"+ val['_blood_bank_name']+"</span><br>";
                }
                elements += "<p>";
                if(val['sr_no'] != "NA" && val['sr_no'] != ""){
                    elements += "Serial Number: "+ val['sr_no']+"<br>";
                }
                if(val['_blood_component_available'] != "NA" && val['_blood_component_available'] != ""){
                    elements += "Blood Component Available: "+ val['_blood_component_available']+"<br>";
                }
                if(val['_service_time'] != "NA" && val['_service_time'] != ""){
                    elements += "Service Time: "+ val['_service_time']+"<br>";
                }
                if(val['_category'] != "NA" && val['_category'] != ""){
                    elements += "Category: "+ val['_category']+"<br>";
                }
                if(val['_address'] != "NA" && val['_address'] != ""){
                    elements += val['_address']+"<br>";
                }
                if(val['_city'] != "NA" && val['_city'] != ""){
                    elements += val['_city']+"<br>";
                }
                if(val['_district'] != "NA" && val['_district'] != ""){
                    elements += val['_district']+"<br>";
                }
                if(val['_state'] != "NA" && val['_state'] != ""){
                    elements += val['_state']+"<br>";
                }
                if(val['pincode'] != "NA" && val['pincode'] != ""){
                    elements += val['pincode']+"<br>";
                }
                if(val['_contact_no'] != "NA" && val['_contact_no'] != ""){
                    elements += "<i class='material-icons prefix'>phone</i>: "+val['_contact_no']+"<br>";
                }
                if(val['_fax'] != "NA" && val['_fax'] != ""){
                    elements += "Fax: "+val['_fax']+"<br>";
                }
                if(val['_email'] != "NA" && val['_email'] != ""){
                    elements += "<i class='material-icons'>email</i>: "+val['_email']+"<br>";
                }
                if(val['_helpline'] != "NA" && val['_helpline'] != ""){
                    elements += "Helpline: "+val['_helpline']+"<br>";
                }
                if(val['_website'] != "NA" && val['_website'] != ""){
                    elements += "<i class='material-icons'>language</i>: "+val['_website']+"<br>";
                }
                if(val['_nodal_officer_'] != "NA" && val['_nodal_officer_'] != ""){
                    elements += "Nodal Officer: "+val['_nodal_officer_']+"<br>";
                }
                if(val['_contact_nodal_officer'] != "NA" && val['_contact_nodal_officer'] != ""){
                    elements += "Contact Nodal Officer: "+val['_contact_nodal_officer']+"<br>";
                }
                if(val['_mobile_nodal_officer'] != "NA" && val['_mobile_nodal_officer'] != ""){
                    elements += "Mobile Nodal Officer: "+val['_mobile_nodal_officer']+"<br>";
                }
                if(val['_email_nodal_officer'] != "NA" && val['_email_nodal_officer'] != ""){
                    elements += "Email Nodal Officer: "+val['_email_nodal_officer']+"<br>";
                }
                if(val['_qualification_nodal_officer'] != "NA" && val['_qualification_nodal_officer'] != ""){
                    elements += "Qualification Nodal Officer: "+val['_qualification_nodal_officer']+"<br>";
                }
                if(val['_apheresis'] != "NA" && val['_apheresis'] != ""){
                    elements += "Apheresis: "+val['_apheresis']+"<br>";
                }
                if(val['_license_'] != "NA" && val['_license_'] != ""){
                    elements += "License: "+val['_license_']+"<br>";
                }
                if(val['_date_license_obtained'] != "NA" && val['_date_license_obtained'] != ""){
                    elements += "Date License Obtained: "+val['_date_license_obtained']+"<br>";
                }
                if(val['_date_of_renewal'] != "NA" && val['_date_of_renewal'] != ""){
                    elements += "Date of Renewal: "+val['_date_of_renewal']+"<br>";
                }
                if(val['_latitude'] != "NA" && val['_latitude'] != "" && val['_longitude'] != "NA" && val['_longitude'] != ""){
                    elements += "<i class='material-icons'>place</i>: <a target='_blank' href='https://www.google.com/maps/@"+val['_latitude']+","+val['_longitude']+",20z'>Map Location</a><br>";
                }
                elements += "</p>";
                items = items.add( "<li class='collection-item avatar' id='" + key + "'>" + elements + "</li>" );
            });
            $( "#blood-banks").append(items);
            $('#page').val(parseInt(offset)+1);
            if(data['count'] < 100){
                $('#more').hide();
            }else{
                $('#more').show();
            }
        });
    }
    getResult('All', 'All', 0);
    $('#more').on('click', function(){
        getResult($('#states').val(), $('#districts').val(), $('#page').val());
    });
    $('#states').on('change', function(){
        updateDistricts(this.value);
        getResult($('#states').val(), $('#districts').val(), 0)
    });

    $('#districts').on('change', function(){
        getResult($('#states').val(), $('#districts').val(), 0)
    });

    $(document).ready(function(){
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '994047617314949',
                xfbml      : true,
                version    : 'v2.6'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });
</script>
