<div class="container" id="main">
  <div class="row">
    <div class="col-md-4 col-sm-6">
    </div>
    <div class="col-md-4 col-sm-6">
      <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
      </div>
      <nav class="white" role="navigation" style="height:115px;">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo center"><%= image_tag 'logo.png', alt: 'KnowGovtData' %></a>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Blood Banks</a>
          </div>
        </div>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">
          <select class="browser-default" id="states" style="width: 100%;"></select>
          <select class="browser-default" id="districts" style="width: 100%; margin-top: 5px;"></select>
        </div>
        <div class="panel-body">
          <ul class="collection" id="blood-banks">
          </ul>
        </div>
        <input type='hidden' id="page" value="0" />
        <a class="btn btn-block btn-success" id="more" >More</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
    </div>
  </div><!--/row-->

  <hr>
</div><!--/main-->
<script type="text/javascript">
    var states = <%= raw @state_names.to_json %>;
    var	districts = <%= raw @district_names.to_json %>;

    $('#states').append($("<option></option>").attr("value",'All').text('All States'));
    $('#districts').append($("<option></option>").attr("value",'All').text('All Districts'));
    $.each(states, function(index, val) {
        $('#states')
                .append($("<option></option>")
                        .attr("value",val)
                        .text(val));
    });
    function updateDistricts(state){
        $('#districts').find('option').remove();
        $('#districts').append($("<option></option>").attr("value",'All').text('All Districts'));
        $.each(districts, function(key, val) {
            if(state == key){
                $.each(val, function(index, dist) {
                    $('#districts')
                            .append($("<option></option>")
                                    .attr("value",dist)
                                    .text(dist));
                });
            }
        });
    }

    function getResult(state, district, offset){
        if(state != 'All' && district != 'All'){
            var api_url = "https://api.data.gov.in/resource/fced6df9-a360-4e08-8ca0-f283fc74ce15?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[_blood_bank_name]=asc&filters[_state]="+state+"&filters[_district]="+district+"&offset="+offset;
        }else if(state != 'All' && district == 'All'){
            var api_url = "https://api.data.gov.in/resource/fced6df9-a360-4e08-8ca0-f283fc74ce15?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[_blood_bank_name]=asc&filters[_state]="+state+"&offset="+offset;
        }else{
            var api_url = "https://api.data.gov.in/resource/fced6df9-a360-4e08-8ca0-f283fc74ce15?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[_blood_bank_name]=asc&offset="+offset;
        }
        if(offset == 0){
            $("#blood-banks li").remove();
        }
        $.getJSON(api_url, function( data ) {
            var items = $();
            $.each( data['records'], function( key, val ) {
                var	elements= "<i class='large material-icons circle red'>add_location</i>";
                if(val['_blood_bank_name'] != "NA" && val['_blood_bank_name'] != ""){
                    elements += "<span class='title'>"+ val['_blood_bank_name']+"</span><br>";
                }
                elements += "<p>";
                if(val['sr_no'] != "NA" && val['sr_no'] != ""){
                    elements += "Serial Number: "+ val['sr_no']+"<br>";
                }
                if(val['_blood_component_available'] != "NA" && val['_blood_component_available'] != ""){
                    elements += "Blood Component Available: "+ val['_blood_component_available']+"<br>";
                }
                if(val['_service_time'] != "NA" && val['_service_time'] != ""){
                    elements += "Service Time: "+ val['_service_time']+"<br>";
                }
                if(val['_category'] != "NA" && val['_category'] != ""){
                    elements += "Category: "+ val['_category']+"<br>";
                }
                if(val['_address'] != "NA" && val['_address'] != ""){
                    elements += val['_address']+"<br>";
                }
                if(val['_city'] != "NA" && val['_city'] != ""){
                    elements += val['_city']+"<br>";
                }
                if(val['_district'] != "NA" && val['_district'] != ""){
                    elements += val['_district']+"<br>";
                }
                if(val['_state'] != "NA" && val['_state'] != ""){
                    elements += val['_state']+"<br>";
                }
                if(val['pincode'] != "NA" && val['pincode'] != ""){
                    elements += val['pincode']+"<br>";
                }
                if(val['_contact_no'] != "NA" && val['_contact_no'] != ""){
                    elements += "<i class='material-icons prefix'>phone</i>: "+val['_contact_no']+"<br>";
                }
                if(val['_fax'] != "NA" && val['_fax'] != ""){
                    elements += "Fax: "+val['_fax']+"<br>";
                }
                if(val['_email'] != "NA" && val['_email'] != ""){
                    elements += "<i class='material-icons'>email</i>: "+val['_email']+"<br>";
                }
                if(val['_helpline'] != "NA" && val['_helpline'] != ""){
                    elements += "Helpline: "+val['_helpline']+"<br>";
                }
                if(val['_website'] != "NA" && val['_website'] != ""){
                    elements += "<i class='material-icons'>language</i>: "+val['_website']+"<br>";
                }
                if(val['_nodal_officer_'] != "NA" && val['_nodal_officer_'] != ""){
                    elements += "Nodal Officer: "+val['_nodal_officer_']+"<br>";
                }
                if(val['_contact_nodal_officer'] != "NA" && val['_contact_nodal_officer'] != ""){
                    elements += "Contact Nodal Officer: "+val['_contact_nodal_officer']+"<br>";
                }
                if(val['_mobile_nodal_officer'] != "NA" && val['_mobile_nodal_officer'] != ""){
                    elements += "Mobile Nodal Officer: "+val['_mobile_nodal_officer']+"<br>";
                }
                if(val['_email_nodal_officer'] != "NA" && val['_email_nodal_officer'] != ""){
                    elements += "Email Nodal Officer: "+val['_email_nodal_officer']+"<br>";
                }
                if(val['_qualification_nodal_officer'] != "NA" && val['_qualification_nodal_officer'] != ""){
                    elements += "Qualification Nodal Officer: "+val['_qualification_nodal_officer']+"<br>";
                }
                if(val['_apheresis'] != "NA" && val['_apheresis'] != ""){
                    elements += "Apheresis: "+val['_apheresis']+"<br>";
                }
                if(val['_license_'] != "NA" && val['_license_'] != ""){
                    elements += "License: "+val['_license_']+"<br>";
                }
                if(val['_date_license_obtained'] != "NA" && val['_date_license_obtained'] != ""){
                    elements += "Date License Obtained: "+val['_date_license_obtained']+"<br>";
                }
                if(val['_date_of_renewal'] != "NA" && val['_date_of_renewal'] != ""){
                    elements += "Date of Renewal: "+val['_date_of_renewal']+"<br>";
                }
                if(val['_latitude'] != "NA" && val['_latitude'] != "" && val['_longitude'] != "NA" && val['_longitude'] != ""){
                    elements += "<i class='material-icons'>place</i>: <a target='_blank' href='https://www.google.com/maps/@"+val['_latitude']+","+val['_longitude']+",20z'>Map Location</a><br>";
                }
                elements += "</p>";
                items = items.add( "<li class='collection-item avatar' id='" + key + "'>" + elements + "</li>" );
            });
            $( "#blood-banks").append(items);
            $('#page').val(parseInt(offset)+1);
            if(data['count'] < 100){
                $('#more').hide();
            }else{
                $('#more').show();
            }
        });
    }
    getResult('All', 'All', 0);
    $('#more').on('click', function(){
        getResult($('#states').val(), $('#districts').val(), $('#page').val());
    });
    $('#states').on('change', function(){
        updateDistricts(this.value);
        getResult($('#states').val(), $('#districts').val(), 0)
    });

    $('#districts').on('change', function(){
        getResult($('#states').val(), $('#districts').val(), 0)
    });

    $(document).ready(function(){
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '994047617314949',
                xfbml      : true,
                version    : 'v2.6'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });
</script>
