<div class="container" id="main">
  <div class="row">
    <div class="col-md-4 col-sm-6">
    </div>
    <div class="col-md-4 col-sm-6">
      <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
      </div>
      <nav class="white" role="navigation" style="height:115px;">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo center"><%= image_tag 'logo.png', alt: 'KnowGovtData' %></a>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Hospitals</a>
          </div>
        </div>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">
          <select class="browser-default" id="states" style="width: 100%;"></select>
        </div>
        <div class="panel-body">
          <ul class="collection" id="hospitals">
          </ul>
        </div>
        <input type='hidden' id="page" value="0" />
        <a class="btn btn-block btn-success" id="more" >More</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
    </div>
  </div><!--/row-->

  <hr>
</div><!--/main-->
<script type="text/javascript">
    var states = ["Andaman and Nicobar Islands","Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh",
        "Chhattisgarh","Dadra and Nagar","Daman and Diu","Delhi","Goa","Gujarat","Haryana","Himachal Pradesh",
        "Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Lakshadweep","Madhya Pradesh","Maharashtra","Manipur",
        "Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura",
        "Uttar Pradesh","Uttarakhand","West Bengal"]
    var	districts = {"Andhra Pradesh":["Godavari","Hyderabad","Krishna","Secunderabad","Visakhapatnam"],
        "Arunachal Pradesh":["Tawang","Upper Subansiri","lower Subansiri"],
        "Assam":["Barpeta","Cachar","Dibrugarh","Jorhat","Kamrup","Sonitpur"],
        "Bihar":["Darbhanga","Gaya","Muzaffarpur","Patna"],
        "Chandigarh":[],"Chhattisgarh":["Bastar","Bilaspur","Durg","Raipur"],"Dadra and Nagar":[],"Daman and Diu":["Daman"],
        "Delhi":["Central Delhi","East Delhi","East delhi","North Delhi","North East Delhi","North West Delhi","South Delhi","South East Delhi","South West Delhi","South West delhi","West Delhi","central Delhi"],
        "Punjab":["Amritsar","Patiala","Ropar","Zirakpur"],"Rajasthan":["Ajmer","Jaipur","Jodhpur"],
        "Sikkim":["Gangtok"],"Tamil Nadu":["Chennai","Chinna Seeragapadi","Colachel","Kanyakumari","Nagercoil","Vellore"],
        "Tripura":["Agartala"],"Uttar Pradesh":["Agra","Ghaziabad","Greater Noida","Hathras","Kanpur","Lucknow","Meerut","Moradabad","Muzaffarnagar","Noida","Saharanpur","Varanasi"],
        "Uttarakhand":["Dehradun","Haldwani","Rishikesh","Roorkee"],"West Bengal":["Kolkata"]}

    $('#states').append($("<option></option>").attr("value",'All').text('All States'));
    $('#districts').append($("<option></option>").attr("value",'All').text('All Districts'));
    $.each(states, function(index, val) {
        $('#states')
                .append($("<option></option>")
                        .attr("value",val)
                        .text(val));
    });

    function getResult(state, district, offset){
        if(state != 'All' && district != 'All'){
            var api_url = "https://api.data.gov.in/resource/98fa254e-c5f8-4910-a19b-4828939b477d?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[hospital_name]=asc&filters[state]="+state+"&filters[district]="+district+"&offset="+offset;
        }else if(state != 'All' && district == 'All'){
            var api_url = "https://api.data.gov.in/resource/98fa254e-c5f8-4910-a19b-4828939b477d?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[hospitalname]=asc&filters[state]="+state+"&offset="+offset;
        }else{
            var api_url = "https://api.data.gov.in/resource/98fa254e-c5f8-4910-a19b-4828939b477d?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&offset="+offset;
        }
        if(offset == 0){
            $("#hospitals li").remove();
        }
        $.getJSON(api_url, function( data ) {
            var items = $();
            $.each( data['records'], function( key, val ) {
                var	elements= "<i class='large material-icons circle red'>local_hospital</i>";
                if(val['hospital_name'] != "NA" && val['hospital_name'] != "0"){
                    elements += "<span class='title'>"+ val['hospital_name']+"</span><br>";
                }
                elements += "<p>";
                if(val['hospital_category'] != "NA" && val['hospital_category'] != "0"){
                    elements += "<b>Hospital Category:</b> "+ val['hospital_category']+"<br>";
                }
                if(val['hospital_care_type'] != "NA" && val['hospital_care_type'] != "0"){
                    elements += "<b>Hostipal Caretype:</b> "+ val['hospital_care_type']+"<br>";
                }
                if(val["discipline_systems_of_medicine"] != "NA" && val["discipline_systems_of_medicine"] != "0"){
                    elements += "<b>Systems Of Medicine:</b> "+ val["discipline_systems_of_medicine"]+"<br>";
                }
                if(val["address_original_first_line"] != "NA" && val["address_original_first_line"] != "0"){
                    elements += val["address_original_first_line"]+"<br>";
                }
                if(val['state'] != "NA" && val['state'] != "0"){
                    elements += val['state']+"<br>";
                }
                if(val['district'] != "NA" && val['district'] != "0"){
                    elements += val['district']+"<br>";
                }
                if(val['subdistrict'] != "NA" && val['subdistrict'] != "0"){
                    elements += val['subdistrict']+"<br>";
                }
                if(val['pincode'] != "NA" && val['pincode'] != "0"){
                    elements += val['pincode']+"<br>";
                }
                if(val['telephone'] != "NA" && val['telephone'] != "0"){
                    elements += "<i class='material-icons prefix'>phone</i> <b>Telephone:</b> "+val['telephone']+"<br>";
                }
                if(val["mobile_number"] != "NA" && val["mobile_number"] != "0"){
                    elements += "<i class='material-icons prefix'>phone</i> <b>Mobile Number:</b> "+val["mobile_number"]+"<br>";
                }
                if(val["emergency_num"] != "NA" && val["emergency_num"] != "0"){
                    elements += "<i class='material-icons prefix'>phone</i> <b>Emergency Number:</b> "+val['emergency_num']+"<br>";
                }
                if(val["ambulance_phone_no"] != "NA" && val["ambulance_phone_no"] != "0"){
                    elements += "<i class='material-icons prefix'>phone</i> <b>Ambulance Phoneno:</b> "+val['ambulance_phone_no']+"<br>";
                }
                if(val['tollfree'] != "NA" && val['tollfree'] != "0"){
                    elements += "<i class='material-icons prefix'>phone</i> <b>Tollfree:</b> "+val['tollfree']+"<br>";
                }
                if(val['helpline'] != "NA" && val['helpline'] != "0"){
                    elements += "<i class='material-icons prefix'>phone</i> <b>Helpline:</b> "+val['helpline']+"<br>";
                }
                if(val['hospital_fax'] != "NA" && val['hospital_fax'] != "0"){
                    elements += "<b>Hospital Fax:</b> "+val['hospital_fax']+"<br>";
                }
                if(val['hospital_primary_email_id'] != "NA" && val['hospital_primary_email_id'] != "0"){
                    elements += "<i class='material-icons'>email</i>: "+val['hospital_primary_email_id']+"<br>";
                }
                if(val['hospital_secondary_email_id'] != "NA" && val['hospital_secondary_email_id'] != "0"){
                    elements += "<i class='material-icons'>email</i>: "+val['hospital_secondary_email_id']+"<br>";
                }
                if(val['website'] != "NA" && val['website'] != "0"){
                    elements += "<i class='material-icons'>language</i>: "+val['website']+"<br>";
                }
                if(val['specialties'] != "NA" && val['specialties'] != "0"){
                    elements += "<b>Specialties:</b> "+val['specialties']+"<br>";
                }
                if(val['facilities'] != "NA" && val['facilities'] != "0"){
                    elements += "<b>Facilities:</b> "+val['facilities']+"<br>";
                }
                if(val['total_num_beds'] != "NA" && val['total_num_beds'] != "0"){
                    elements += "<b>Total Number of Beds:</b> "+val['total_num_beds']+"<br>";
                }
                if(val['location_coordinates'] != "NA" && val['location_coordinates'] != "0"){
                    elements += "<i class='material-icons'>place</i>: <a href='https://www.google.com/maps/@"+val['location_coordinates']+",18z'>Map Location</a><br>";
                }
                elements += "</p>";
                items = items.add( "<li class='collection-item avatar' id='" + key + "'>" + elements + "</li>" );
            });
            $( "#hospitals").append(items);
            $('#page').val(parseInt(offset)+100);
            if(data['count'] < 100){
                $('#more').hide();
            }else{
                $('#more').show();
            }
        });
    }
    getResult('All', 'All', 0);
    $('#more').on('click', function(){
        getResult('All', 'All', $('#page').val());
    });
    $('#states').on('change', function(){
        getResult($('#states').val(), 'All', 0)
    });

    $('#districts').on('change', function(){
        getResult($('#states').val(), $('#districts').val(), 0)
    });

    $(document).ready(function(){
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '994047617314949',
                xfbml      : true,
                version    : 'v2.6'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });
</script>
