<div class="container" id="main">
  <div class="row">
    <div class="col-md-4 col-sm-6">
    </div>
    <div class="col-md-4 col-sm-6">
      <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
      </div>
      <nav class="white" role="navigation" style="height:115px;">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo center"><%= image_tag 'logo.png', alt: 'KnowGovtData' %></a>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Pincodes</a>
          </div>
        </div>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">
          <select class="browser-default" id="states" style="width: 100%;"></select>
          <select class="browser-default" id="districts" style="width: 100%; margin-top: 5px;"></select>
          <select class="browser-default" id="taluks" style="width: 100%; margin-top: 5px;"></select>
        </div>
        <div class="panel-body">
          <ul class="collection" id="pincodes">
          </ul>
        </div>
        <input type='hidden' id="page" value="0" />
        <a class="btn btn-block btn-success" id="more" >More</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
    </div>
  </div><!--/row-->

  <hr>
</div><!--/main-->
<%= javascript_tag "states = #{@states.to_json.html_safe};" %>
<%= javascript_tag "districts = #{@districts.to_json.html_safe};" %>
<%= javascript_tag "taluks = #{@taluks.to_json.html_safe};" %>
<script type="text/javascript">
    $('#states').append($("<option></option>").attr("value",'All').text('All States'));
    $('#districts').append($("<option></option>").attr("value",'All').text('All Districts'));
    $('#taluks').append($("<option></option>").attr("value",'All').text('All Taluks'));
    $.each(states, function(index, val) {
        $('#states')
                .append($("<option></option>")
                        .attr("value",val)
                        .text(val));
    });
    function updateDistricts(state){
        $('#districts').find('option').remove();
        $('#districts').append($("<option></option>").attr("value",'All').text('All Districts'));
        $('#taluks').find('option').remove();
        $('#taluks').append($("<option></option>").attr("value",'All').text('All Taluks'));
        $.each(districts, function(key, val) {
            if(state == key){
                $.each(val, function(index, dist) {
                    $('#districts')
                            .append($("<option></option>")
                                    .attr("value",dist)
                                    .text(dist));
                });
            }
        });
    }

    function updateDistrictsTaluks(state, district){
        $('#taluks').find('option').remove();
        $('#taluks').append($("<option></option>").attr("value",'All').text('All Taluks'));
        $.each(taluks, function(key, val) {
            if(state == key){
                $.each(val, function(key1, val1) {
                    if(district == key1){
                        $.each(val1, function(index, taluk) {
                            $('#taluks')
                                    .append($("<option></option>")
                                            .attr("value",taluk)
                                            .text(taluk));
                        });
                    }
                });
            }
        });
    }

    function getResult(state, district, taluk, offset){
        if(state != 'All' && district != 'All' && taluk != 'All'){
            var api_url = "https://api.data.gov.in/resource/6176ee09-3d56-4a3b-8115-21841576b2f6?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[taluk]=asc&filters[statename]="+state+"&filters[districtname]="+district+"&filters[taluk]="+taluk+"&offset="+offset;
        }else if(state != 'All' && district != 'All' && taluk == 'All'){
            var api_url = "https://api.data.gov.in/resource/6176ee09-3d56-4a3b-8115-21841576b2f6?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[taluk]=asc&filters[statename]="+state+"&filters[districtname]="+district+"&offset="+offset;
        }else if(state != 'All' && district == 'All' && taluk == 'All'){
            var api_url = "https://api.data.gov.in/resource/6176ee09-3d56-4a3b-8115-21841576b2f6?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[taluk]=asc&filters[statename]="+state+"&offset="+offset;
        }else{
            var api_url = "https://api.data.gov.in/resource/6176ee09-3d56-4a3b-8115-21841576b2f6?format=json&api-key=579b464db66ec23bdd000001915ff135a4c244e75f6371e952361b24&sort[taluk]=asc&offset="+offset;
        }
        if(offset == 0){
            $("#pincodes li").remove();
        }
        $.getJSON(api_url, function( data ) {
            var items = $();
            $.each( data['records'], function( key, val ) {
                var	elements= "<i class='large material-icons circle red'>email</i>";
                if(val['pincode'] != "NA"){
                    elements += "<span class='title'><b>Pincode:</b> "+ val['pincode']+"</span><br>";
                }
                elements += "<p>";
                if(val['officename'] != "NA"){
                    elements += "<b>Office Name:</b> "+ val['officename']+"<br>";
                }
                if(val['officetype'] != "NA"){
                    elements += "<b>Office Type:</b> "+ val['officetype']+"<br>";
                }
                if(val['deliverystatus'] != "NA"){
                    elements += "<b>Delivery Status:</b> "+ val['deliverystatus']+"<br>";
                }
                if(val['divisionname'] != "NA"){
                    elements += "<b>Division Name:</b> "+ val['divisionname']+"<br>";
                }
                if(val['regionname'] != "NA"){
                    elements += "<b>Region Name:</b> "+ val['regionname']+"<br>";
                }
                if(val['circlename'] != "NA"){
                    elements += "<b>Circle Name:</b> "+ val['circlename']+"<br>";
                }
                if(val['taluk'] != "NA"){
                    elements += "<b>Taluk:</b> "+ val['taluk']+"<br>";
                }
                if(val['districtname'] != "NA"){
                    elements += "<b>District Name:</b> "+ val['districtname']+"<br>";
                }
                if(val['statename'] != "NA"){
                    elements += "<b>State Name:</b> "+ val['statename']+"<br>";
                }
                elements += "</p>";
                items = items.add( "<li class='collection-item avatar' id='" + key + "'>" + elements + "</li>" );
            });
            $( "#pincodes").append(items);
            $('#page').val(parseInt(offset)+100);
            if(data['count'] < 100){
                $('#more').hide();
            }else{
                $('#more').show();
            }
        });
    }
    getResult('All', 'All', 'All', 0);
    $('#more').on('click', function(){
        getResult($('#states').val(), $('#districts').val(), $('#taluks').val(), $('#page').val());
    });
    $('#states').on('change', function(){
        updateDistricts(this.value);
        getResult($('#states').val(), $('#districts').val(), $('#taluks').val(), 0)
    });

    $('#districts').on('change', function(){
        updateDistrictsTaluks($('#states').val(), this.value);
        getResult($('#states').val(), $('#districts').val(), $('#taluks').val(), 0)
    });

    $('#taluks').on('change', function(){
        getResult($('#states').val(), $('#districts').val(), $('#taluks').val(), 0)
    });
    $(document).ready(function(){
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '994047617314949',
                xfbml      : true,
                version    : 'v2.6'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });
</script>
